.contact-form {
	border-right: 1px solid $navy;
	padding: 1rem 2rem 1rem 0.9375rem;
	[type='text'], [type='email'], textarea {
		border: 1px solid $aqua;
		color: $navy;
		box-shadow: 0 1px 2px rgba(119,134,146, 0.2);
		font-family: $fira;
		background-color: rgba(255,255,255,0.8);
	}
	::-webkit-input-placeholder {
	   color: $grey;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $grey;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $grey;  
	}

	:-ms-input-placeholder {  
	   color: $grey;  
	}
}

[type='submit'], .button {
	padding: 1rem 2rem;
	background-color: rgba(255,255,255,0.8);
	color: $navy;
	border: 1px solid $aqua;
	font-family: $fira;
}

.button {
	border: 1px solid $navy;
}

iframe {
	border: 1px solid $aqua !important;
}

.contact-info {
	text-align: right;
	color: $navy;
	padding: 1rem 0 1rem 2rem;
	iframe {
		border: 1px solid $navy !important;
	}
}