#page-home {
	.main-content {
		background-image: url(../images/wta-bg-1.jpg);
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}

	h2 {
		font-size: 2rem;
		font-family: $work;
		border-bottom: 1px solid $aqua;
	}
	.entry-content {
		border-bottom: 1px solid $aqua;
		margin-bottom: 2rem;
		padding: 1rem;
		@include breakpoint(large) {
			padding: 2rem 0;
		}
	}
}

.home-btn {
	height: 100px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 2rem;
	h6 {
		@include vertical-align;
		color: $white;
		text-shadow: 0px 2px 2px $navy;
		text-align: center;
		font-weight: 500;
		font-size: 1.3rem;
		font-family: $work;
	}
	@include breakpoint(large) {
		&:hover {
			@include transition-all;
			@include filter(grayscale, 100%);
		}
	}
}

#history {
	background-image: url(../images/wta-button-1.jpg);
}

#portfolio {
	background-image: url(../images/wta-button-2.jpg);
}

#directions {
	background-image: url(../images/wta-button-3.jpg);
}

.sponsors {
	padding: 1.5rem 0;
	border-top: 1px solid $aqua;
	background-color: $white;
	.sponsor-list {
		margin: 1rem 0;
		text-align: center;
		a {
			@include breakpoint(large) {
				&:hover {
					@include transition-all;
					border: 2px solid $aqua;
				}
			}
		}
	}
}