.product-cats {
	text-align: center;
	padding: 3rem 0;
}
.product-cat {
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 100%;
	height: rem-calc(275);
	text-align: center;
	h4 {
		@include vertical-align;
		z-index: 3;
		font-family: $fira;
		color: $white;
		text-shadow: 0px 1px 1px $navy;
	}
	.cat-overlay {
		height: rem-calc(275);
		width: 270px;
		position: absolute;
		z-index: 2;
		background-color: rgba(38,55,70, 0.5);
		border-radius: 50%;
	}
	@include breakpoint(large) {
		&:hover {
			h4 {
				@include transition-all;
				color: $navy;
				text-shadow: 0px 1px 1px $white;
			}
			.cat-overlay {
				@include transition-all;
				background-color: rgba(0,188,180, 0.5);
			}
		}
	}
}

#doors {
	background-image: url(../images/wta-prod-category1.jpg);
}
#hollow {
	background-image: url(../images/wta-prod-category2.jpg);
}
#specialty {
	background-image: url(../images/wta-prod-category3.jpg);
}
#hardware {
	background-image: url(../images/wta-prod-category4.jpg);
}

.product-content {
	margin: 1.5rem 0;
	padding: 2rem 0;
	border-top: 1px solid $aqua;
	border-bottom: 1px solid $aqua;
}

.product-grid {
	padding: 2rem 0;
	text-align: center;
	.company-col {
		text-align: center;
		.company-logo {
			width: 100%;
			height: 200px;
			text-align: center;
			background-color: $white;
			border: 1px solid $navy;
			img {
				max-width: 90%;
				@include vertical-align;
				padding: 0.5rem;
			}
		}
		h5 {
			color: $grey;
			margin: 0.75rem auto;
		}
		@include breakpoint(large) {
			&:hover {
				.company-logo {
					
					border: 1px solid $aqua;
				}
				h5 {
					@include transition-all;
					color: $aqua;
				}
			}
		}
	}
}