#page {
  .main-content {
    padding: 2rem 0 1rem 0;
  }
  h2 {
    color: $aqua;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $aqua;
  }
  .entry-content {
    margin: 1.5rem 0;
  }
  .staff {
    border-top: 1px solid $aqua;
    padding: 1.5rem 0;
    background-color: $white;
    .staff-row {
      width: 100%;
      padding: 0 2rem;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
    .staff-col {
      width: 49.99%;
      @include breakpoint (large) {
        width: 19.99%;
      }
      float: left;
      text-align: center;
      padding: 0 1rem;
      img {
        border-radius: 50%;
      }
      h4 {
        font-size: 1.2rem;
        padding: 0.5rem 0;
        color: $navy;
        border-bottom: 1px solid $aqua;
      }
      p {
        margin-bottom: 0;
        font-size: 0.9rem;
      }
      .staff-role {
        font-weight: 600;
      }
      i {
        color: $aqua;
      }
      a, span {
        color: $grey;
      }
    }
  }
}