#footer-container {
	background-color: $navy;
	color: $white;
	padding-top: 0.75rem;
	p {
		font-size: 0.75rem;
	}
	@include breakpoint(small only) {
		text-align: center;
	}
}

.moxy {
	@include breakpoint(small only) {
		text-align: center;
	}
	a {
		font-family: $moxy-font;
		font-size: 1.3rem;
		color: $white;
		@include breakpoint(large) {
			float: right;
			&:hover {
				@include transition-all;
				color: $aqua;
			}
		}
	}
}
