/* Navigation breakpoints */
.desktop-header {
  @include show-for(large);
  background-color: $white;
  border-bottom: 2px solid $aqua;
  #site-navigation {
    ul {
      text-align: center;
      margin: 0;
      li {
        display: inline-block;
        margin: 2.5rem 1rem;
        a {
          color: $navy;
        }
        

      }
    }
    .logo {
      text-align: center;
      img {
        width: 60%;
        margin: 0.75rem 0;
      }
    }

  }
}

.mobile-top-bar {
  @include hide-for(large);
  border-bottom: 1px solid $aqua;
  padding: 0.5rem 1rem;
  img {
    width: 75%;
  }
  .mobile-nav-icon {
    margin-top: 1.5rem;
    float: right;
    a {
      font-size: 2rem;
      color: $aqua;
    }
  }
  .mobile-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
    overflow: auto;
    background: rgba($white, 0.9);
    i.close {
      float: right;
      margin-top: 2rem;
      font-size: 2.5rem;
      margin-right: 2.5rem;
      color: $aqua;
    }
    ul {
      margin: 5rem 0 1rem 0;
      li {
        display: block;
        text-align: center;
        a {
          color: $navy;
          font-size: 2.5rem;
          font-family: $work;
          text-align: center;
        }
      }
    }
    .menu .active > a {
      background-color: transparent;
    }
  }
}

/* Mobile menu */